
mixin list_links(options)
	-
		const {title='', items=[], open=false, commonModificators=[]} = options
		let containerClassName = 'list__container_links'
		if (commonModificators)
			commonModificators.forEach(modificator => containerClassName+=' '+containerClassName+'_'+modificator)
	label(class=containerClassName)
		input.list__input_links(type= 'checkbox', checked=open)
		.list__title_links= title	
		.list__items_links
			each value, key in items
				a.list_links__link(href=value)=key

