mixin dropdown-template(options={})
	-
		const {blockName='dropdown', modificatorName='', thirdPartyPlugin=false, commonModificators=[],
		 items=[], inputValue, doubleInput=false, firstInputValue,  secondInputValue, firstTitle='', secondTitle,
		  placeholder, footerButtonActive=false, useJS=[JS_CLASS.CONTAINER ] } = options

		let containerClassName = blockName + '__container'
		
		let modificatorsContainerClassName=''
		let jsContainerClasses=''

	if ((commonModificators.length)&&modificatorName)
		each modificator in commonModificators	
			- modificatorsContainerClassName=containerClassName+'_'+modificatorName+'_'+modificator+' '
	else 
		if (commonModificators.length)
			each modificator in commonModificators
				- modificatorsContainerClassName=containerClassName+'_'+ modificator+' '
	if (useJS.length)
		each jsClass in useJS
			case jsClass
				when JS_CLASS.CONTAINER 
					- jsContainerClasses= 'js-' + containerClassName
				
	-
		containerClassName += modificatorName ? ' '+containerClassName+'_'+ modificatorName : ''
		containerClassName += ' ' + jsContainerClasses
		containerClassName += ' '+modificatorsContainerClassName
		containerClassName += doubleInput ? ' ' + 'double-input-field' : ''
		containerClassName += footerButtonActive ? ' footer-button-active' : ''


	div(class=containerClassName)
		if (doubleInput)
			.dropdown__input-conteiner
				.dropdown__first-input
					+title({title: firstTitle})
					+input-field({type: INPUT_FIELD.FOR_DROPDOWN, placeholder: placeholder, value: firstInputValue})
				.dropdown__second-input
					+title({title: secondTitle})
					+input-field({type: INPUT_FIELD.FOR_DROPDOWN, placeholder: placeholder, value: secondInputValue})
		else 	
			+input-field({type: INPUT_FIELD.FOR_DROPDOWN, placeholder: placeholder, value: inputValue})
		if (!thirdPartyPlugin)
			.dropdown__expand-container
				each value, itemName in items
					+dropdown-item(itemName, value)
				if (footerButtonActive)
					.dropdown__footer
						.dropdown__clear-button.js-dropdown__clear-button
							+button({type: BUTTON.LINK, label: 'очистить'})
						.dropdown__apply-button.js-dropdown__apply-button
							+button({type: BUTTON.LINK, label: 'применить'})
			
